[submodule "cookbooks/apt"]
	path = cookbooks/apt
	url = https://github.com/opscode-cookbooks/apt.git
[submodule "cookbooks/build-essential"]
	path = cookbooks/build-essential
	url = https://github.com/opscode-cookbooks/build-essential.git
[submodule "cookbooks/chef-sugar"]
	path = cookbooks/chef-sugar
	url = https://github.com/sethvargo/chef-sugar.git
[submodule "cookbooks/java"]
	path = cookbooks/java
	url = https://github.com/agileorbit-cookbooks/java.git
[submodule "cookbooks/openssl"]
	path = cookbooks/openssl
	url = https://github.com/opscode-cookbooks/openssl.git
[submodule "cookbooks/postgresql"]
	path = cookbooks/postgresql
	url = https://github.com/hw-cookbooks/postgresql.git
[submodule "cookbooks/opennms-light"]
	path = cookbooks/opennms-light
	url = https://github.com/opennms-forge/chef-opennms-light.git
